.header {
    width: 100%;
    margin-bottom: 32px;
    @include for-phone-only {}
    @include for-tablet-portrait-up {}
    @include for-tablet-landscape-up {
        margin-bottom: 64px;
    }
    @include for-desktop-up {}
    @include for-big-desktop-up {}
    .header__top-image {
        width: 100%;
        .top-image__img {
            width: 100%;
            height: auto;
        }
    }
    .header__title {
        margin-top: 32px;
        @include for-phone-only {}
        @include for-tablet-portrait-up {}
        @include for-tablet-landscape-up {
            margin-top: 64px;
        }
        @include for-desktop-up {}
        @include for-big-desktop-up {}
        h1 {
            margin: 0;
        }
        .title__description {
            visibility: hidden;
        }
        p {
            margin: 16px 0;
            @include for-phone-only {}
            @include for-tablet-portrait-up {}
            @include for-tablet-landscape-up {
                width: 50%;
                margin: 32px 0;
            }
            @include for-desktop-up {}
            @include for-big-desktop-up {}
        }
    }
}