{% if blog.announcement != blank %}
  <div class="announcement">
    {{blog.announcement}}
  </div>
{% endif %}

{% for episode in episodes %}
  <article class="post">

    <div class="post__cover">
      <img src="{{episode.cover_image_url}}" alt="{{episode.title}}">
    </div>

    <div class="post__content">

      <div class="content__content-box">

        <header class="content-box__header">
          <h3 class="header__heading">
            <a class="heading__link" href="{{episode.url}}">{{episode.title}}</a>
          </h3>
          <time>
            {{episode.published_at | date: "%d. %B %Y"}}
          </time>
        </header>
  
        <section class="content-box__description">
          {{episode.description}}
        </section>
  
        <!-- <section class="content-box__downloads">
          {{episode.downloads}}
        </section> -->

        <section class="shownotes">
          {{episode.show_notes}}
        </section>
  
        <section class="content-box__social-media">
          {{episode.social_links}}
          {{episode.flattr}}
        </section>
        
      </div>

      <section class="content-box__media-player">
        {{episode.player}}
      </section>

    </div>
  </article>
{% endfor %}

<div class="pagination">
  {{ pagination.previous_page }}
  {{ pagination.next_page }}
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {

    const shownotesArr = document.getElementsByClassName('shownotes');

    const handleShowNotes = (shownotes) => {

      const notes = [...shownotes]
      
      if (notes.length > 0) {
        const linkList = notes.map(item => [...item.getElementsByTagName('a')]);
        console.log(linkList)
        // get the last link item (the YT-Tease Video) from the shownotes HTMLCollection
        const lastLinkList = linkList.map(item => item[item.length - 1])
        console.log('last links in list', lastLinkList)
        return lastLinkList
      } else {
        return console.error('shownotes Arr is undefined', shownotes)
      }
      
    }

    console.log('handleShowNotes', 
      handleShowNotes(shownotesArr).map(i => i.href)
    );
    console.log('dom post cover images', 
      [...document.getElementsByClassName('post__cover')].map( i => [...i.getElementsByTagName('img')][0].src ) 
    );

  });
</script>