<div class="section-main">
  <header class="meta header">
    <div class="top-image header__top-image">
      <img class="top-image__img" alt="{{podcast.title}}" src="{{blog.header_image}}">
    </div>
    <div class="title header__title">
      <h1>
        {{podcast.title}}
      </h1>
      {% if podcast.description %}
      <p class="title__description">
        {{podcast.description}}
      </p>
      {% endif %}
    </div>
    <div class="header__subscr-btn">
      {% if podcast.subscribe_button_data.configuration.enabled %}
        {{podcast.subscribe_button}}
      {% else %}
      <ul class="feeds">
        <li><a href="{{podcast.feeds.mp3}}" rel="alternate">mp3</a></li>
        <li><a href="{{podcast.feeds.aac}}" rel="alternate">aac/mp4 (iTunes)</a></li>
        <li><a href="{{podcast.feeds.vorbis}}" rel="alternate">vorbis/ogg</a></li>
        <li><a href="{{podcast.feeds.opus}}" rel="alternate">opus</a></li>
      </ul>
      {% endif %}
    </div>
  </header>
  <div class="posts">
    <!-- {% include 'navigation.html' %} -->

    {{page_content}}
  </div>
  <footer class="footer">
    <section class="copyright">
      {% if podcast.copyright %}<p class="copyright">{{ podcast.copyright }}</p>{% endif %}
    </section>
    <section class="legal">
      <ul class="legal__links">
        <li class="links__imprint">
          <a href="https://k16.de/impressum/">Impressum</a>
        </li>
        <li class="links__rgpd">
          <a href="https://k16.de/datenschutz/">Datenschutz</a>
        </li>
      </ul>
    </section>
  </footer>
</div>

<!-- {% include 'sidebar.html' %} -->
